{% extends "layout.html" %}
{% block title %}Student Conduct Tracker{% endblock %}
{% block page %}Staff{% endblock %}

{{ super() }}

{% block link %}
    <ul id = "nav-mobile" class = "left">
        <li><a href = "/staffHome">Back</a></li>
    </ul>
{% endblock %}

{% block content %}
<section>
  
    <div class="generic-form-box">
      
      <div>
        <h2>Student Karma Ranks</h2>
      </div>

      <div class = "student-info">
        
        <div class="inputbox" id = "search-student">
          <form  method="GET" action="/karmaRanking/search" >
          <ion-icon name="search-outline"></ion-icon>
          <input name= "entered"type="text">
          <label for="entered">Search for Student by First Name, Last Name or ID</label>
          </form>
        </div>
      </div>
            
      <main class="container" >
         <form  method="GET" action="/karmaRanking" style="margin-top:40px;justify-content: center;align-items: center;display: flex">
            <table>
              <thead>
                <th>Student ID</th><th>First Name</th><th>Last Name</th><th>Karma Score</th>
              </thead>
              <tbody>
                {% for student in students %}
                <tr>
                  <td>{{student.ID}}</td>
                  <td>{{student.firstname}}</td>
                  <td>{{student.lastname}}</td>
                  <td>{{student.getKarma()}}</td>
                {% endfor %}
                </tr>
              </tbody>
            </table>
          </form>
       </main>
            
        
    </div>
    
</section>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}