{% extends "layout.html" %}
{% block title %}Student Conduct Tracker{% endblock %}
{% block page %}Staff{% endblock %}

{{ super() }}

{% block link %}
    <ul id = "nav-mobile" class = "left">
        <li><a href = "/staffHome">Back</a></li>
    </ul>
    <ul id = "nav-mobile" class = "right">
        <li><a href = "/">Log Out</a></li>
    </ul>
{% endblock %}

{% block content %}
<section>
  
    <div class="generic-form-box" style="margin-top: -30px;" >
        <div class="form-value">
            <form method="POST" action="/addreview" id = "log-student">
                <div class = "student-log-info">
                    <div>
                        <h2>Log Review</h2>
                    </div>
                    <div class="row">
                        <label for="studentID">Student ID</label>
                        <input name="studentID" type="text" required>
                    </div>
                
                    <div class="row">
                        <label for="firstname">First Name</label>
                        <input name="firstname" type="text" required>
                    </div>
            
                    <div class="row">
                        <label for="lastname">Last Name</label>
                        <input name="lastname" type="text" required>
                    </div>

                    <div class="row">
                        <label>Date Created: </label>
                        <input type = "date"></input>
                    </div>

                    <div class="row">
                        <label for="reviewer">Logged By: </label>
                        <input name="reviewer" type = "text"></input>
                    </div>
                        
                    <div class="row">
                        <label for="review">Review Description:</label>
                        <input name="review" type="text" ></input>
                    </div>
 
                </div>

                <div class ="button-format" style="justify-content: right; gap: 2em;">
                    <button class = "update-button">Create Review</button>
                </div>

            </form>
        </div>

        
    </div>
    
</section>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}
