{% extends "layout.html" %}
{% block title %}Student Conduct Tracker{% endblock %}
{% block page %}Staff{% endblock %}

{{ super() }}

{% block link %}
    <ul id = "nav-mobile" class = "left">
        <li><a href = "/staffHome">Back</a></li>
    </ul>
    <ul id = "nav-mobile" class = "right">
        <li><a href = "/">Log Out</a></li>
    </ul>
{% endblock %}

{% block content %}
<section>
  
    <div class="generic-form-box" style="margin-top: -15px;" >
        <div class="form-value">
            <form action="" id = "log-student">
                <div class = "student-info">
                    <div>
                        <h2>Log Review</h2>
                    </div>
                    
                </form>
                </div>
                
                <div class="" style = "margin-top: 20px;">
                    <form action="">
              
                        <div class="row">
                          <label for="">Student ID</label>
                          <input type="text" required>
                        </div>
                
                        <div class="row">
                          <label for="">First Name</label>
                          <input type="text" required>
                        </div>
              
                        <div class="row">
                          <label for="">Last Name</label>
                          <input type="text" required>
                        </div>

                        <div class="row">
                            <label>Date Created: </label>
                            <input type = "date"></input>
                        </div>

                        <div class="row">
                            <label>Logged By: </label>
                            <input type = "text"></input>
                        </div>
                        
                    </form>

                    <form>
                        <div class="textarea-format">
                            <div class="student-info">
                                <div>
                                    <h4>Review Description: </h4>
                                </div>
                                <div >
                                    <textarea name="review" id="text" ></textarea>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                   
                </div>

                <div class ="button-format" style="justify-content: right; margin-right: 90px; gap: 2em;">
                    <button class = "update-button">Create Review</button>
                  </div>

            </form>
        </div>

        
    </div>
    
</section>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}
