{% extends "layout.html" %}
{% block title %}Student Conduct Tracker{% endblock %}
{% block page %}Staff{% endblock %}

{{ super() }}

{% block link %}
    <ul id = "nav-mobile" class = "left">
        <li><a href = "/staffHome">Back</a></li>
    </ul>
{% endblock %}

{% block content %}
<section>
  
    <div class="generic-form-box">
      <h2>Search Student</h2>
      <div class = "student-info">
        <form  method="GET" action="/searchStudent/search/<string:search_term>" >
          <div class="inputbox" id = "search-student">
            <ion-icon name="search-outline"></ion-icon>
            <input type="text">
            <label for="">Search for Student</label>
          </div>
        </form>

        <!--select and option tags refuse to render-->
        <div class="inputdropbox">
          <button>Filter By  <ion-icon name="caret-down-outline"></ion-icon></ion-icon></button>
          <div class="drop-content"> 
            <a href="">Student ID</a>
            <a href="">Student Name</a>
            <a href="">Best Review</a>
            <a href="">Worst Review</a>
          </div>
        </div>

      </div>
            
      <main class="container" >
         <form  method="POST" action="/searchStudent" style="margin-top:20px;justify-content: center;align-items: center;display: flex">
            <table>
              
              <thead>
                <th>Student ID</th><th>First Name</th><th>Last Name</th><th>Review</th>
              </thead>
              <tbody>
                {% for student in students %}
                <tr>
                  <td>{{student.ID}}</td>
                  <td>{{student.firstname}}</td>
                  <td>{{student.lastname}}</td>
                  <td><button><a href="/studentInformation" style="color:#fff">Reviews</a></button></td>
                {% endfor %}
                </tr>
              </tbody>
            </table>
          </form>
       </main>
            
        
    </div>
    
</section>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}
