{% extends "layout.html" %}
{% block title %}Student Conduct Tracker{% endblock %}
{% block page %}Staff{% endblock %}

{{ super() }}

{% block link %}
    <ul id = "nav-mobile" class = "left">
        <li><a href = "/staffHome">Back</a></li>
    </ul>
{% endblock %}

{% block content %}
<section>
  
    <div class="generic-form-box">
      <h2>Search Student</h2>
      <div class = "student-info">
        <form  method="GET" action="/searchStudent/search" >
          <div class="inputbox" id = "search-student">
            <ion-icon name="search-outline"></ion-icon>
            <input name= "entered"type="text">
            <label for="entered">Search for Student by First Name, Last Name or ID</label>
          </div>
        </form>


      </div>
            
<main class="container">
    <table>
        <thead>
            <th>Student ID</th><th>First Name</th><th>Last Name</th><th>Review</th>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.ID }}</td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.lastname }}</td>
                <td>
                    <form method="GET" action="/searchStudent/{{ student.ID }}">
                        <button type="submit" name="entered">Reviews</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

            
        
    </div>
    
</section>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}
