{% extends "layout.html" %}
{% block title %}Student Conduct Tracker{% endblock %}
{% block page %}Student Information{% endblock %}

{{ super() }}

{% block link %}
    <ul id = "nav-mobile" class = "left">
        <li><a href = "/staffHome">Back</a></li>
    </ul>
{% endblock %}

{% block content %}
<section>
    <div class="generic-form-box">
    
        <div class = "student-info">
            <div id = "student-information">
                
                <h4>{{student_firstname}}{{student_lastname}}</h4>
                <h5>{{student_ID}}</h5>
            </div>
    
            <div id ="karma-info">
                <h4>Karma Score</h4>
                <h5>{{student_karma}}</h5>
            </div>
        </div>

        <div class = "student-review">

            <div id="review-info">
                <table style="width: 800px">
                    <thead>
                        <th>Reviews</th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for review in reviews %}
                            <tr>
                                <td>{{review.getReview()}}</td>
                                
                                <td style="width: 40px"><button> <form method="GET" action="/reviews">
                                    <a href="/studentInformation" style="color:#fff">Agree</a></form></button></td>
                                
                                <td style="width: 40px"><button><form method="GET" action="/reviews">
                                    <a href="/studentInformation" style="color:#fff">Disagree</a></form></button></td>
                                
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>

                    
        
    </div>
    
</section>
{% endblock %}
