{% extends "layout.html" %}
{% block title %}Student Conduct Tracker{% endblock %}
{% block page %}Admin{% endblock %}

{{ super() }}

{% block link %}
    <ul id = "nav-mobile" class = "left">
        <li><a href = "/adminHome">Back</a></li>
    </ul>
    <ul id = "nav-mobile" class = "right">
        <li><a href = "/">Log Out</a></li>
    </ul>
{% endblock %}

{% block content %}
<section>
    <div class="generic-form-box" id = "update-student">
      <div class="form-value" >
        <form method="POST" action="/studentUpdates">
          
          <h2>Update Student</h2>

          <div class="row">
            <label for="studentID">Student ID</label>
            <input name="studentID" type="text" required>
          </div>
  
          <div class="row">
            <label for="firstname">First Name</label>
            <input name="firstname" type="text" required>
          </div>

          <div class="row">
            <label for="lastname">Last Name</label>
            <input name="lastname" type="text" required>
          </div>

          <div class="row">
            <label for="contact">Contact</label>
            <input name="contact" type="text" required>
          </div>
  
          <div class="row">
            <label for="yearOfStudy">Start of Study</label>
            <input name="yearOfStudy" type="date" required>
          </div>

          <div class ="button-format">
            <button class = "update-button">Edit</button>
            <button class = "update-button">Save</button>
          </div>
        </form>
        
      </div>
    </div>
  
  </section>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}